{%- extends "base.html" -%}
{%- from "macros.jinja" import pagginate -%}

{%- block app_content -%}
<h1>{{ title }}</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _("#") }}</th>
                <th>{{ _("Email") }}</th>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Last seen") }}</th>
                <th>{{ _("Created") }}</th>
                <th>{{ _("Actions") }}</th>
            </tr>
        </thead>
        <tbody>
        {%- for user in users -%}
            <tr>
                <td>
                    {{ loop.index }}
                </td> {# index #}
                <td>
                    <a href="{{ url_for('profile.user', iid=user.id) }}">
                        <span id="user{{ user.id }}">{{ user.email }}</span>
                    </a>
                </td> {# email + link #}
                <td>
                    {%- if user.is_deleted -%}
                        {{ _('>DELETED[%(name)s]<', name=user.name) }}
                    {%- else -%}
                        {{ user.name }}
                    {%- endif -%}
                </td> {# name #}
                <td>
                    {{ _('%(when)s', when=moment(user.last_seen).fromNow()) }}
                </td> {# last seen datetime #}
                <td>
                    {{ _('%(when)s', when=moment(user.reg_dt).calendar()) }}
                </td> {# created datetime #}
                <td>
                {%- if user.is_deleted -%}
                    <a href="{{ url_for("profile.restore", iid=user.id) }}">
                        {{ _('restore') }}
                    </a>
                {%- else -%}
                    {# [minor] BUG with correct link generation #}
                    <a href="{{ url_for("profile.delete_admin", iid=user.id) }}">
                        {{ _('delete') }}
                    </a>
                {%- endif -%}
                </td> {# actions #}
            </tr>
        {%- endfor -%}
        </tbody>
    </table>
</div>

{{ pagginate(prev_page_url, next_page_url) }}

{%- endblock -%}
