# ===== Common =====
.pytest_cache/
__pycache__/
migrations/
.generated/
.vscode/
.cache/
build/
.idea/
.venv/
.gen/
.env/
temp/
logs/
log/

*.env
*tmp*

*.ovpn
*.ppk
*.key

*.py[cod]
*.log
*$py.class
*.bak
*.db

# ===== Altera Soft =====
incremental_db/
output_files/
simulation/
db/

# ===== Web Client =====
bak/
rsc/

*.JSON
*.db
*.db.journal
*.pot
*.mo

# Flask stuff:
instance/
.webassets-cache
