# engine
dill==0.3.3
Jinja2==2.10.1
PyYAML==5.4

# web
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
Jinja2==2.10.1
Werkzeug==0.15.3
WTForms==2.1

# deployment to heroku
gunicorn>=19.7.1
