{%- extends "base.html" -%}

{%- block app_content -%}
<h2 class="sub-header">{{ title }}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
{%- for file_path, file_type, file_size, link in files -%}
            <tr>
                <td>{{ loop.index0 }}</td>
                <td><a href="{{ link }}">{{ file_path }}</a></td>
                <td>{{ file_type }}</td>
                <td>{{ file_size }}</td>
            </tr>
{%- endfor -%}
        </tbody>
    </table>
</div>
{%- endblock -%}
