{#
	This template was created by HSE University students
	Dmitriy Pchelkin (hell03end) and Alexey Ivanov (DigiDon)
	and should be distribured without any warranty ("as is")
#}
{%- extends "BaseC_.jinja" -%}
{%- block message -%}
{%- include "licenses/_IntelLicense.jinja" -%}
{%- endblock message -%}
{%- block content -%}
{# verilog file content #}
/*
 * Simple demultiplexer realization throw switching input signal.
 * Route input signal to one of the outputs.
 */
module Demultiplexer  #(
	parameter WIDTH = {{ width }}
)(
	input wire [WIDTH-1:0] in,
	output reg [WIDTH*WIDTH-1:0] out
);
always @(in) begin
	out <= 0 | 1 << in;
end

endmodule
{%- endblock content -%}
