{#
	This template was created by HSE University students
	Dmitriy Pchelkin (hell03end) and Alexey Ivanov (DigiDon)
	and should be distribured without any warranty ("as is")
#}
{%- extends "BaseC_.jinja" -%}
{%- block message -%}
{%- include "licenses/_IntelBlockWarning.jinja" -%}
{%- include "licenses/_IntelLicense.jinja" -%}
{%- endblock message -%}
{%- block content -%}
{# bsf file content #}
(header "symbol" (version "1.1"))
(symbol
	(rect 16 16 136 96)
	(text "Generator" (rect 5 0 45 12)(font "Arial" ))
	(text "inst" (rect 8 64 20 76)(font "Arial" ))
	(port
		(pt 0 32)
		(input)
		(text "clk" (rect 0 0 10 12)(font "Arial" ))
		(text "clk" (rect 21 27 31 39)(font "Arial" ))
		(line (pt 0 32)(pt 16 32)(line_width 1))
	)
	(port
		(pt 120 32)
		(output)
		(text "out" (rect 0 0 11 12)(font "Arial" ))
		(text "out" (rect 88 27 99 39)(font "Arial" ))
		(line (pt 120 32)(pt 104 32)(line_width 1))
	)
	(parameter
		"CLOCK_FREQ"
		"{%- if clock_freq -%}{{ clock_freq }}{%- else -%}100000000{%- endif -%}"
		""
		(type "PARAMETER_SIGNED_DEC")	)
	(parameter
		"OUT_FREQ"
		"{%- if out_freq -%}{{ out_freq }}{%- else -%}1000000{%- endif -%}"
		""
		(type "PARAMETER_SIGNED_DEC")	)
	(drawing
		(rectangle (rect 16 16 104 64)(line_width 1))
	)
	(annotation_block (parameter)(rect 136 -64 236 16))
)
{%- endblock content -%}
