{%- extends "base.html" -%}
{%- import 'bootstrap/wtf.html' as wtf -%}

{%- block app_content -%}
<h1 class="sub-header">{{ title }}</h1>

<p>
    <a href="{{ post.author.link }}">
        <span class="user_popup">
            {{ post.author.username or _("unknown") }}
        </span>
    </a>
    | {{ moment(post.create_dt).fromNow() }}
    | {{ post.watches }} {{ _(" watches") }}
    {% if post.author == current_user %}
        |
        <a href="{{ post.edit_link }}">
            {{ _("Edit article") }}
        </a>
    {%- endif -%}
</p>

<div class="lead main article">
    {% autoescape false %}{{ post.text }}{% endautoescape %}
</div>
<hr />

{%- for comment in comments -%}
<table class="table table-hover">
<tr>
    <td width="70px">
        <a href="{{ comment.author.link }}">
            <img width="35px" src="{{ comment.author.avatar_s }}" />
        </a>
    </td>
    <td>
        {%- set user_link -%}
            <span class="user_popup">
                <a href="{{ comment.author.link }}">
                    {{ comment.author.username or "unknown" }}
                </a>
            </span>
        {%- endset -%}
        {{ _('%(username)s said %(when)s',
            username=user_link, when=moment(comment.create_dt).fromNow()) }}
        <br>
        <span id="comment{{ comment.id }}">
            {%- autoescape false -%}{{ comment.text }}{%- endautoescape -%}
        </span>
    </td>
</tr>
</table>
{%- endfor -%}

<div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{%- endblock -%}
