{%- extends "base.html" -%}
{%- import 'bootstrap/wtf.html' as wtf -%}

{%- block app_content -%}
<h1 class="sub-header">{{ title }}</h1>

<p>
    <a href="{{ url_for('profile.user', iid=post.author.id) }}">
        {{ post.author.name or _("unknown") }}
    </a>
    | {{ moment(post.create_dt).fromNow() }}
    | {{ post.watch_count }} {{ _(" watches") }}
    {% if post.author == current_user or current_user.is_admin %}
        |
        <a href="{{ url_for('blog.edit', uri=post.uri) }}">
            {{ _("Edit") }}
        </a>
    {%- endif -%}
</p>

<div class="lead main article">
    {{ post.html | safe }}
</div>

<p>
    <a class="btn btn-default" rode="button" href="{{ url_for('blog.posts') }}">
        {{ _("Back") }}
    </a>
</p>

{%- for comment in comments -%}
<table class="table table-hover">
<tr>
    <td width="70px">
        <a href="{{ url_for('profile.user', iid=comment.author.id) }}">
            <img width="35px" src="{{ comment.author.avatar(30) }}" />
        </a>
    </td>
    <td>
        {%- set user_link -%}
            <a href="{{ url_for('profile.user', iid=comment.author.id) }}">
                {{ comment.author.name or comment.author.email or _("unknown") }}
            </a>
        {%- endset -%}
        {{ _('%(name)s said %(when)s',
            name=user_link, when=moment(comment.create_dt).fromNow()) }}
        <br>
        <span id="comment{{ comment.id }}">
            {%- if comment.is_deleted -%}
                <strong>{{ _("Comment was deleted") }}</strong>
            {%- else -%}
                {{ comment.html | safe }}
            {%- endif -%}
        </span>
    </td>
    <td>
        {%- if comment.author == current_user or current_user.is_admin -%}
            <a href="{{ url_for('blog.edit_comment', iid=comment.id) }}">
                {{ _("Edit") }}
            </a>
            {%- set next_page = url_for('blog.view', uri=post.uri) -%}
            {%- if comment.is_deleted -%}
                <a href="{{ url_for('blog.restore_comment', iid=comment.id, next_page=next_page) }}">
                    {{ _("Restore") }}
                </a>
            {%- else -%}
                <a href="{{ url_for('blog.delete_comment', iid=comment.id, next_page=next_page) }}">
                    {{ _("Delete") }}
                </a>
            {%- endif -%}
        {%- endif -%}
    </td>
</tr>
</table>
{%- endfor -%}

{%- if form -%}
    <div class="row">
        <div class="col-md-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{%- endif -%}

{%- endblock -%}
