{%- extends "base.html" -%}

{%- block app_content -%}
<h1 class="sub-header">{{ title }}</h1>

<p>
    <a href="{{ post.author.link }}">
        <span class="user_popup">
            {{ post.author.username }}
        </span>
    </a>
    | {{ post.created_date }}
    {%- if post.was_edited -%}
        | {{ post.edited_date }}
    {%- endif -%}
    | {{ post.watches }}
    {%- if post.author == current_user -%}
        |
        <a href="{{ url_for('blog.edit', uri=post.uri) }}">
            {{ _("Edit article") }}
        </a>
    {%- endif -%}
</p>

<div class="lead main article">
    {{ post.text }}
<div>
<hr>

{%- for comment in comments -%}
<div class="row">
    <div class="col-md-4">
        <p>
            <a href="{{ comment.author.link }}">
                <span class="user_popup">
                    {{ comment.author.username }}
                </span>
            </a>
        </p>
        <p>{{ comment.created_date }}</p>
        {%- if comment.was_edited -%}
            <p>{{ comment.edited_date }}</p>
        {%- endif -%}
    </div>
    <div class="col-md-8">
        <p>{{ comment.text }}</p>
    </div>
</div>
<br>
{%- endfor -%}

<h3>{{ _("Add comment") }}</h3>
<div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{%- endblock -%}
