{%- extends "blog/page.html" -%}

{%- block page_content -%}
<h2 class="sub-header">Исправление проблем с моделированием в Altera ModelSim</h2>
<p class="blog-post-meta">
    <span class="date">{{ date }}</span>
    <span class="autor">Лёвин Олег, БИВ143</span>
</p>
<hr>
<h3>Корректирование пути до исполняемого файла</h3>
<p>
    Для корректной работы ModelSim в Quartus >= 16 необходимо исправить
    путь до утилиты.
</p>
<p>
    В главном окне Quartus переходим в <b>Tools -> Options -> EDA Tool Options</b>
    и в строке напротив пункта Modelsim-Altera добавляем символ <code>/</code>
    в конце.
</p>
<p>Пример:</p>
<p>Исходная строка</p>
<blockquote>/home/oleglevin/altera_lite/16.0/modelsim_ase/linuxaloem</blockquote>
<p>примет вид</p>
<blockquote>/home/oleglevin/altera_lite/16.0/modelsim_ase/linuxaloem/</blockquote>
<h3>Установка отсутствующих библиотек</h3>
<p>
    При запуске моделирования в Modelsim система может вывести
    сообщения об отсутствии некоторых библиотек. Если используется 64
    битный Linux дистрибутив, то предположительно необходимо доставить
    32-битные версии отсутствующих библиотек. Например, в дистрибутиве
    Ubuntu 14.04 64-bit требовалось установить 32-битные версии библиотек
    <b>ncurses</b> и <b>xft2</b>, что возможно посредством выполнения следующей
    команды: <code>sudo apt install libncurses:i386 libxft2:i386</code>.
</p>
<p>
    В других дистрибутивах могут отсутствовать какие-либо другие
    библиотеки. В этом случае следует выполнить поиск необходимых
    библиотек в репозиториях, либо же их ручную сборку (предположительно
    возможно редко, и выполнить сборку наверняка довольно непросто).
</p>
<h3>Прошивка платы Marsohod</h3>
<p>
    На момент написания инструкции поддержки программатора FTDI,
    установленного на платах Марсоход, в Quartus для Linux не оказалось. Тем
    не менее прошивка плат из-под Linux систем была предусмотрена
    разработчиками Марсоход в виде самописной утилиты (<a href="https://marsohod.org/prodmbftdi/menusvfplayer">
    оригинал статьи по утилите</a>).
</p>
<p>
    Утилита распространяется в виде исходных кодов, соответственно,
    нужно осуществить её сборку:
</p>
<p>
    <ol>
        <li>
            Скачиваем исходники утилиты из репозитория на GitHub:
            <code>git clone https://github.com/marsohod4you/MBFTDI-SVF-Player.git</code>
        </li>
        <li>
            Распаковываем архив с утилитой, переходим в директорию linux
            распакованного архива и выполняем команду <code>make</code>
        </li>
        <li>
            В случае успешной сборки внутри текущей директории появится
            исполняемый ELF файл <b>mbftdi</b>.
        </li>
    </ol>
</p>
<p>
    Утилита принимает в качестве аргумента командной строки *.svf
    файл. По умолчанию во время компиляции проекта Quartus не выполняет
    генерацию данного файла, поэтому необходимо выполнить следующую
    настройку:
</p>
    В основном окне перейти в <b>Assignments -> Device -> Device and Pin
    Options</b> и поставить галочку около пункта Serial Vector Format File (.svf).
    Таким образом, при следующей компиляции проекта в директории output
    собранного проекта появится файл <i>@имя_проекта.svf</i>.
<p>
</p>
    Для прошивки платы копируем его в директорию с утилитой mbftdi.
    Выполняем следующий набор команд:
<p>
</p>
    <ol>
        <li>
            Выгружаем из ядра драйвер ftdi_sio (драйвер, используемый в
            некоторых Linux дистрибутивах по умолчанию для взаимодействия с
            ftdi. В данной ситуации, если его не убрать, возникнет конфликт):
            <code>sudo rmmod ftdi_sio</code>
        </li>
        <li>
            Находясь в директории с mbtfid, прошиваем плату нашим *.svf
            файлом: <code>sudo ./mbftdi YourFile.svf</code>
        </li>
        <li>
            В случае успешной сборки внутри текущей директории появится
            исполняемый ELF файл <b>mbftdi</b>.
        </li>
    </ol>
<p>
{%- endblock -%}
