{%- extends "base.html" -%}

{%- block app_content -%}
<h2 class="sub-header">Если плата Marsohod не опознается</h2>
<p class="blog-post-meta">{{ date }}</p>
<hr>
<p>
    Если при добавленных <code>jtag_hw_mbftdi_blaster_v16b</code> драйверах плата
    не опознается, и в диспетчере устройств подключенная плата опознается,
    как <b>Dual RS232-HS</b>, то необходимо скачать файл
    <a href="https://drive.google.com/open?id=0B2DyhVuZZ3BFd0l5U1NRLUY0ZEk">FTDI_drivers.7z</a>
    разархивировать папку и установить их на компьютер при подключенной плате.
</p>
<center>
    <p>
        <img class="img-responsive" src="../../../static/pages/{{ base_link }}-0.png">
    </p>
</center>
<center>
    <p>
        <img class="img-responsive" src="../../../static/pages/{{ base_link }}-1.png">
    </p>
</center>
<center>
    <p>
        <img class="img-responsive" src="../../../static/pages/{{ base_link }}-2.png">
    </p>
</center>
{%- endblock -%}
