{%- extends "base.html" -%}
{%- import 'bootstrap/wtf.html' as wtf -%}

{%- block styles -%}
    {{super()}}
    <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
{%- endblock styles -%}

{%- block app_content -%}
<div class="form-generic">
    <h2 class="form-generic-heading">{{ title }}</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
<br>

<p>
    {{ _("Forgot Your Password?") }}
    <a href="{{ url_for('auth.reset_password') }}">{{ _("Click to Reset It") }}</a>
</p>
{%- endblock -%}
