<nav aria-label="...">
    <ul class="pager">
        {# also can be 'disabled' instead of 'hidden' #}
        <li class="previous{% if not prev_page_url %} hidden{%- endif -%}">
            <a href="{{ prev_page_url or '#' }}">
                <span aria-hidden="true">&larr;</span> {{ _("Next page") }}
            </a>
        </li>
        {# also can be 'disabled' instead of 'hidden' #}
        <li class="next{% if not next_page_url %} hidden{%- endif -%}">
            <a href="{{ next_page_url or '#' }}">
                {{ _("Previous page") }} <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
