{%- if posts -%}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _("#") }}</th>
                <th>{{ _("Title") }}</th>
                <th>{{ _("Author") }}</th>
                <th>{{ _("Watches") }}</th>
                <th>{{ _("Date") }}</th>
                <th>{{ _("Actions") }}</th>
            </tr>
        </thead>
        <tbody>
        {%- for post in posts -%}
            <tr>
                <td>
                    {{ loop.index }}
                </td> {# index #}
                <td>
                    <a href="{{ post.link }}">
                        <span id="post{{ post.id }}">{{ post.title }}</span>
                    </a>
                </td> {# title + link #}
                <td>
                    <a href="{{ post.author.link }}">
                        <span class="user_popup">
                            {{ post.author.email }}
                        </span>
                    </a>
                </td> {# author email #}
                <td>
                    {{ post.watches }}
                </td> {# watches count #}
                <td>
                    {{ _('%(when)s', when=moment(post.create_dt).fromNow()) }}
                </td> {# created timestamp #}
                {%- if post.author == current_user -%}
                    <td>
                        <a href="{{ post.edit_link }}">
                            {{ _('edit') }}
                        </a>
                    </td> {# edit / actions #}
                {%- endif -%}
            </tr>
        {%- endfor -%}
        </tbody>
    </table>
</div>
{%- endif -%}
