DE1SoC_configs/
incremental_db/
output_files/
simulation/
Quartus/
Soc/
db/

### Quartus
LabsQuartus/*
!LabsQuartus/*.sh
!LabsQuartus/Lab*
LabsQuartus/Lab*/*
!LabsQuartus/Lab*/*.bdf
!LabsQuartus/Lab*/*.vwf
!LabsQuartus/Lab*/*.qpf
!LabsQuartus/Lab*/*.qsf
!LabsQuartus/Lab*/*.bsf
