{#
    This template was created by HSE University students
    Dmitriy Pchelkin (hell03end) and Alexey Ivanov (DigiDon)
    and should be distribured without any warranty ("as is")
#}
{%- if company_name -%}
// ------------------------------------------------------------------------ //
    {%- if file_type -%}
// This '{{ file_type }}' file is created by {{ company_name }} System Builder.
    {%- else -%}
// Created by {{ company_name }} System Builder.
    {%- endif -%}
    {%- block message -%}{# paste special messages here #}{%- endblock message -%}
// ------------------------------------------------------------------------ //
{%- endif -%}

{%- block body -%}{# paste main file content here #}{%- endblock body -%}

{%- if company_name and file_type -%}
// ------------------------------------------------------------------------ //
// End of '{{ file_type }}' file created by {{ company_name }} System Builder.
// ------------------------------------------------------------------------ //
{%- endif -%}
