{%- if company_name -%}
//============================================================
    {%- if file_type -%}
// This '{{ file_type }}' file is created by {{ company_name }} System Builder.
    {%- else -%}
// Created by {{ company_name }} System Builder.
    {%- endif -%}
    {%- block message -%}{%- endblock message -%}
//============================================================
{%- endif -%}
{%- block body -%}{%- endblock body -%}
{%- if company_name and file_type -%}
//============================================================
// End of '{{ file_type }}' file created by {{ company_name }} System Builder.
//============================================================
{%- endif -%}
