{#
	This template was created by HSE University students
	Dmitriy Pchelkin (hell03end) and Alexey Ivanov (DigiDon)
	and should be distribured without any warranty ("as is")
#}
{%- extends "Base_.jinja" -%}

{%- block content -%}
# Files formats which not removing:
#    * .qpf - Quartus II project file
#    * .qsf - settings for Quartus II project (assignments)
#    * .bdf - file to store block diagram/scheme for elements topology
#    * .vwf - file to store vector waveforms for input signal
#    * .bsf - symbol files for block diagram/scheme (module)
#    * .v   - Verilog HDL file
#    * .sh  - shell scripting files
#    * .hex - memory dumps
#    * .qip - ip mega-functions declaration
#    * .csv, .txt - (usually) data dumps (f.i. with pin assignments)
#    * .bak - file backups
#    * .vhd, .vhdl - VHDL HDL files
#    * .rpt - config for project restoring
{{ "\n" }}
FILES_TO_EXCLUDE_PATTERN=".(vwf|bdf|qpf|qsf|v|sh|bsf|hex|qip|csv|bak|vhd|vhdl|rpt|txt)"
# add '..' and '.' special folders
FILES_TO_EXCLUDE_PATTERN="($FILES_TO_EXCLUDE_PATTERN|^(.|..))$"
{{ "\n" }}
function show_help {
	echo "WARNING: SHOULD BE USED WITH CAUTION! MAKE A BACKUP OF YOUR DATA."
	echo "remove extra files (INCLUDE ALL SUBFOLDERS) left from Quartus II exectution"
	echo
	echo "Do not remove: '$FILES_TO_EXCLUDE_PATTERN' files"
	echo "clear.sh [-l]"
	echo "    -l - remove files from current directory (local)"
	echo
}
{{ "\n" }}
function remove_files {
	for file in `find . -maxdepth 1 | grep -vE "$FILES_TO_EXCLUDE_PATTERN"`; do
		rm -r $file  # also remove folders
	done
}
{{ "\n" }}
for arg in $*; do
	# [minor] [enhancement] TODO: use 'in' keyword
	if [ "$arg" = "-h" -o "$arg" = "-H" -o "$arg" = "--help" -o "$arg" = "/?" ]; then
		show_help
		exit
	fi
done
{{ "\n" }}
# remove files from current folder
for arg in $*; do
	if [ "$arg" = "-l" ]; then
		remove_files
		exit
	fi
done
{{ "\n" }}
for dir in `ls -d */`; do
	# remove files inside dir (non-local)
	cd $dir
	remove_files
	cd ..
done
{{ "" }}
{%- endblock content -%}
