{%- extends "base_.jinja" -%}
{%- import "_PrintDict.jinja" as PrintDict -%}
{%- block body -%}
{%- if global_assignments -%}
    {%- call(key, val) PrintDict.print(global_assignments, use_else="# Place GLOBAL assignments here") -%}
set_global_assignment -name {{ key|upper }} {{ val }}
    {%- endcall -%}
{%- endif -%}

{%- if user_assignments -%}
    {%- call(part_name, assignments) PrintDict.print(user_assignments, use_else="# Place USER assignments here") -%}
#============================================================
# {{ part_name|upper }}
#============================================================

        {%- for instance in assignments['instance'] -%}
set_instance_assignment -name {{ instance[0]|upper }} {{ instance[1]|upper }} -to {{ instance[2]|upper }}
        {%- endfor -%}

        {%- for location in assignments['location'] -%}
set_location_assignment {{ location[0]|upper }} -to {{ location[1]|upper }}
        {%- endfor -%}

    {%- endcall -%}
{%- endif -%}
{%- endblock body -%}
