{#
	This template was created by HSE University students
	Dmitriy Pchelkin (hell03end) and Alexey Ivanov (DigiDon)
	and should be distribured without any warranty ("as is")
#}
{# [minor] [enhancement] TODO: remove weird {{ "" }} line separators if possible #}
{%- extends "BaseC_.jinja" -%}

{%- block content -%}
{{ "" }}
{%- if assignments -%}
module {{ project_name }}(
	{%- for part_name, assig in assignments.items() -%}
{{ "    " }}//---------- {{ part_name|upper }} ----------//
		{%- if not loop.last -%}{# Normal generation until last iteration #}
			{%- for type, rank, value in assig -%}
{{ "    " }}{{ type }}{{ "\t" }}{{ rank or "\t" }}{{ "\t" }}{{ value }},
			{%- endfor -%}
{{ "" }}
		{%- else -%}{# Separate rule for last iteration #}
			{%- for type, rank, value in assig -%}
				{%- if not loop.last -%}
{{ "    " }}{{ type }}{{ "\t" }}{{ rank or "\t" }}{{ "\t" }}{{ value }},
				{%- else -%}{# Don't type coma after last line #}
{{ "    " }}{{ type }}{{ "\t" }}{{ rank or "\t" }}{{ "\t" }}{{ value }}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}
);
{%- else -%}
module {{ project_name }}();
{%- endif -%}
{{ "" }}
// --------------------------------------- //
//          REG/WIRE declarations          //
// --------------------------------------- //
{{ "\n" }}
{%- if wires -%}
	{%- for bits, name, size, assigname, assigsize in wires -%}
		{%- if not loop.last -%}
			{%- if assigname == '' -%}
{{"    wire"}}{{bits}}{{"\t"}}{{name}}{{"\t"}}{{size}},
			{%- else -%}
{{"    wire"}}{{bits}}{{"\t"}}{{name}}{{"\t"}}{{size}}{{" = "}}{{assigname}}{{assigsize}},
			{%- endif -%}
		{%- else -%}{# Separate rule for last iteration #}
{%- if assigname == '' -%}
{{"    wire"}}{{bits}}{{"\t"}}{{name}}{{"\t"}}{{size}}
			{%- else -%}
{{"    wire"}}{{bits}}{{"\t"}}{{name}}{{"\t"}}{{size}}{{" = "}}{{assigname}}{{assigsize}}
			{%- endif -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
{{ "\n" }}
// --------------------------------------- //
//            Structural coding            //
// --------------------------------------- //
{{ "\n" }}
{%- if structures -%}
	{%- for name, signature in structures.items() -%}
{{"    "}}{{name}}{{" "}}{{name}}
{{"    "}}(
		{%- for input_name, input  in signature -%}
			{%- if not loop.last -%}
{{"        "}}.{{input_name}}{{"\t\t"}}({{input}} ),
			{%- else -%}{# Separate rule for last iteration #}
{{"        "}}.{{input_name}}{{"\t\t"}}({{input}} )
			{%- endif -%}
		{%- endfor -%}
{{"    "}});
	{%- endfor -%}
{%- endif -%}
{{ "\n" }}
endmodule // {{ project_name }}
{{ "" }}
{%- endblock content -%}
